.wholeCont {
    width: 100%;
    padding-top: 10vh;
    min-height: 90vh;
    font-family: var(--primary-font-family-open-sans);
    display: flex;
    flex-direction: column;
}

.topCont{
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topContBackgroundCircle{
    position: relative;
    user-select: none;
    height: 80vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* background-color: var(--background-primary-color); */
    background-color: #c26d6d;
    transform-style: preserve-3d;
    transform: perspective(350px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
    z-index: 0;
}
.topContBackgroundCircle:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    /* background-image: url('../../../public/backgroundImg3.png'); */
    background-image: url('../../../public/EWHW_final_logo_white.png');
    filter: grayscale(100%) blur(5px);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: auto 100%;
    background-color: transparent;
    overflow: hidden;
    transform: translateZ(0px);
}
.topContBackgroundCircle:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0.5rem;
    border-radius: 50%;
    /* background-image: url('../../../public/backgroundImg3.png'); */
    background-image: url('../../../public/EWHW_final_logo_white.png');
    filter: grayscale(10%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto 50%;
    /* background-color: rgba(0, 0, 0, 0.25); */
    /* overflow: hidden; */
    /* transform-style: none; */
    transform: translateZ(25px);
}

.topContBackgroundCircleDark{
    background-blend-mode: luminosity;
    background-color: var(--darkmode-background-primary-color);
}

.topLeftCont{
    position: absolute;
    width: 35%;
    height: 60vh;
    opacity: 0;
    margin-bottom: 2.5vh;
    left: 0vh;
}
.topLeftContTransition {
    opacity: 1;
    margin-bottom: 0;
    left: 5vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.topText1{
    width: max-content;
    margin: 0;
    font-weight: 200;
    font-size: 3.5rem;
    color: var(--background-primary-color);
    user-select: none;
}
.topText1Dark{
    color: #c5c5c5;
}

.topName{
    width: 50%;
    font-size: 2.5rem;
    color: var(--background-primary-color);
    margin: 0;
    white-space: nowrap;
    font-weight: 700;
    white-space: pre;
    border-bottom: 3px solid var(--highlight-font-color);
}
.topNameDark{
    color: #ffffff;
}

.topText2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30vh;
    margin: 1.5vh 0;
    font-size: 1rem;
    color: var(--background-primary-color);
    /* backdrop-filter: blur(0px) saturate(169%);
    -webkit-backdrop-filter: blur(0px) saturate(169%);
    background-color: rgba(255, 255, 255, 0.5); */
}
.topText2Dark{
    color: #ffffff;
}

.topText5 {
    width: 100%;
    height: auto;
    top: 30vh;
    margin: 1.5vh 0;
    font-size: 1rem;
    color: var(--background-primary-color);
    /* backdrop-filter: blur(0px) saturate(169%);
    -webkit-backdrop-filter: blur(0px) saturate(169%);
    background-color: rgba(255, 255, 255, 0.5); */
}

.topText5Dark {
    color: #ffffff;
}

.topRightCont {
    position: absolute;
    width: 30%;
    height: 40vh;
    opacity: 0;
    margin-bottom: 4vh;
    right: 0;
}
.topRightContTransition {
    opacity: 1;
    margin-bottom: 0;
    right: 4vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.topText3{
    width: 100%;
    height: auto;
    margin: 1.75vh 0;
    font-size: 1.25rem;
    color: var(--background-primary-color);
    /* backdrop-filter: blur(0px) saturate(169%);
    -webkit-backdrop-filter: blur(0px) saturate(169%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px; */
}
.topText3Dark{
    color: #ffffff;
}

.topText4 {
    width: max-content;
    height: auto;
    margin: 1.75vh 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--highlight-font-color);
    user-select: none;
    white-space: nowrap;
}
.topText4:hover{
    text-decoration: underline solid 1px var(--highlight-font-color);
}
.topText4:active{
    opacity: 0.5;
}

.topRightSocialCont{
    position: relative;
    width: 60%;
    height: 8vh;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topRightSocialEachCont{
    width: 5.6vh;
    height: 5.6vh;
    border-radius: 25%;
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}
.topRightSocialEachContDark{
    background-color: transparent;
    box-shadow: var(--darkmode-box-shadow);
    -webkit-box-shadow: var(--darkmode-box-shadow);
    -moz-box-shadow: var(--darkmode-box-shadow);
}
.topRightSocialEachCont:hover{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.10);
}
.topRightSocialEachCont:hover .topRightSocialEachImg{
    height: 70%;
    width: auto;
}
.topRightSocialEachCont:active .topRightSocialEachImg {
    height: 50%;
    width: auto;
}

.topRightSocialEachImg{
    height: 60%;
    width: auto;
}

.topDownCont {
    position: absolute;
    width: 70%;
    height: 16vh;
    bottom: -4vh;
    background-color: var(--background-primary-color);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
.topDownContOnScroll {
    animation: slideToLeft 1s forwards ease-in-out;
}
/* .topDownCont{
    position: absolute;
    width: 70%;
    height: 16vh;
    bottom: -4vh;
    background-color: var(--background-primary-color);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
} */
.topDownContDark{
    background-color: var(--darkmode-background-primary-color);
}

.topDownContImg{
    height: 8vh;
    width: auto;
}

@keyframes slideToLeft {
    0% {
        position: absolute;
        width: 70%;
        height: 16vh;
        bottom: -4vh;
    }
    100% {
        position: fixed;
        width: 10vh;
        height: 30vh;
        left: 0;
        bottom: 0;
        transition: left 0 linear;
        flex-direction: column;
    }
}


@media screen and (max-width: 800px) {
    .topContBackgroundCircle{
        height: 55vh;
        background-blend-mode: soft-light;
    }
    .topContBackgroundCircle::after {
        height: 55vh;
    }
    .topContBackgroundCircle:before {
        height: 55vh;
    }
    .topLeftCont{
        width: 40%;
    }
    .topName{
        font-size: 2rem;
    }
    .topRightCont{
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .topCont{
        flex-direction: column;
        justify-content: flex-start;
    }
    .topContBackgroundCircle {
        position: relative;
        background-blend-mode: unset;
        width: 90%;
        height: auto;
        background-size: auto 100%;
    }
    .topContBackgroundCircle::after {
        width: 90%;
        height: auto;
    }

    .topContBackgroundCircle:before {
        width: 90%;
        height: auto;
    }
    .topLeftCont{
        position: relative;
        width: 90%;
        height: auto;
        opacity: 1;
        margin-bottom: 0;
        left: 2.5%;
    }
    .topText2 {
        position: relative;
        top: 0;
    }
    .topRightCont{
        position: relative;
        width: 90%;
        margin: 0;
        right: -2.5%;
        margin-bottom: 0;
        opacity: 1;
    }
    .topDownCont{
        width: 90%;
        height: 10vh;
        bottom: -5vh;
    }
    .topDownContImg{
        height: 6vh;
        width: auto;
    }
    .topText3 {
        font-size: 1rem;
    }
}