.wholeCont {
    width: 100%;
    padding-top: 10vh;
    min-height: 90vh;
    font-family: var(--primary-font-family-open-sans);
    display: flex;
    flex-direction: column;
}

.topCont{
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topContBackgroundCircle{
    user-select: none;
    height: 80vh;
    aspect-ratio: 1/1;
    /* border: 1px solid white; */
    border-radius: 50%;
    /* background-color: var(--background-primary-color); */
    background-color: #c26d6d;
    background-image: url('../../../public/background-img1.png');
    filter: grayscale(0%);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: auto 150%;
    /* background-blend-mode: luminosity; */
    z-index: 0;
    /* animation: rotateCircle 1s forwards ease-in-out; */
}
.topContBackgroundCircleDark{
    background-blend-mode: luminosity;
    background-color: var(--darkmode-background-primary-color);
    /* animation: rotateCircle 2s forwards ease-in-out; */
}

.topLeftCont{
    position: absolute;
    width: 35%;
    height: 60vh;
    /* left: 5vh; */
    animation: slideInTopLeftCont 0.5s forwards ease-in;
}

.topText1{
    width: max-content;
    margin: 0;
    font-weight: 200;
    font-size: 3.5rem;
    color: var(--background-primary-color);
    user-select: none;
}
.topText1Dark{
    color: #c5c5c5;
}

.topName{
    width: 50%;
    font-size: 2.5rem;
    color: var(--background-primary-color);
    margin: 0;
    white-space: nowrap;
    font-weight: 700;
    white-space: pre;
    border-bottom: 3px solid var(--highlight-font-color);
}
.topNameDark{
    color: #ffffff;
}

.topText2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30vh;
    margin: 1.5vh 0;
    font-size: 1rem;
    color: var(--background-primary-color);
    /* backdrop-filter: blur(0px) saturate(169%);
    -webkit-backdrop-filter: blur(0px) saturate(169%);
    background-color: rgba(255, 255, 255, 0.5); */
}
.topText2Dark{
    color: #ffffff;
}

.topText5 {
    width: 100%;
    height: auto;
    top: 30vh;
    margin: 1.5vh 0;
    font-size: 1rem;
    color: var(--background-primary-color);
    /* backdrop-filter: blur(0px) saturate(169%);
    -webkit-backdrop-filter: blur(0px) saturate(169%);
    background-color: rgba(255, 255, 255, 0.5); */
}

.topText5Dark {
    color: #ffffff;
}

.topRightCont {
    position: absolute;
    width: 30%;
    height: 40vh;
    right: 5vh;
    animation: slideInTopRightCont 0.5s forwards ease-in;
}

.topText3{
    width: 100%;
    height: auto;
    margin: 1.75vh 0;
    font-size: 1.25rem;
    color: var(--background-primary-color);
    /* backdrop-filter: blur(0px) saturate(169%);
    -webkit-backdrop-filter: blur(0px) saturate(169%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px; */
}
.topText3Dark{
    color: #ffffff;
}

.topText4 {
    width: max-content;
    height: auto;
    margin: 1.75vh 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--highlight-font-color);
    /* cursor: pointer; */
    user-select: none;
    white-space: nowrap;
}
.topText4:hover{
    text-decoration: underline solid 1px var(--highlight-font-color);
}
.topText4:active{
    opacity: 0.5;
}

.topRightSocialCont{
    position: relative;
    width: 60%;
    height: 8vh;
    left: 5%;
    /* box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topRightSocialEachCont{
    width: 5.6vh;
    height: 5.6vh;
    border-radius: 25%;
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}
.topRightSocialEachContDark{
    background-color: transparent;
    box-shadow: var(--darkmode-box-shadow);
    -webkit-box-shadow: var(--darkmode-box-shadow);
    -moz-box-shadow: var(--darkmode-box-shadow);
}
.topRightSocialEachCont:hover{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.10);
}
.topRightSocialEachCont:hover .topRightSocialEachImg{
    height: 70%;
    width: auto;
}
.topRightSocialEachCont:active .topRightSocialEachImg {
    height: 50%;
    width: auto;
}

.topRightSocialEachImg{
    height: 60%;
    width: auto;
}

.topDownCont {
    position: absolute;
    width: 70%;
    height: 16vh;
    bottom: -4vh;
    background-color: var(--background-primary-color);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
.topDownContOnScroll {
    animation: slideToLeft 1s forwards ease-in-out;
}
/* .topDownCont{
    position: absolute;
    width: 70%;
    height: 16vh;
    bottom: -4vh;
    background-color: var(--background-primary-color);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
} */
.topDownContDark{
    background-color: var(--darkmode-background-primary-color);
}

.topDownContImg{
    height: 8vh;
    width: auto;
}

@keyframes slideInTopLeftCont {
    0%{
        opacity: 0;
        margin-bottom: 2.5vh;
        left: 0vh;
    }
    100%{
        opacity: 1;
        margin-bottom: 0;
        left: 5vh;
    }
}

@keyframes slideInTopRightCont {
    0% {
        right: 0vh;
        margin-bottom: 2.5vh;
        opacity: 0;
    }

    100% {
        right: 4vh;
        margin-bottom: 0;
        opacity: 1;
    }
}

@keyframes slideInTopLeftCont500px {
    0% {
        opacity: 0;
        margin-bottom: 2.5vh;
        left: -2.5%;
    }

    100% {
        opacity: 1;
        margin-bottom: 0;
        left: 2.5%;
    }
}

@keyframes slideInTopRightCont500px {
    0% {
        right: 2.5%;
        margin-bottom: 2.5vh;
        opacity: 0;
    }

    100% {
        right: -2.5%;
        margin-bottom: 0;
        opacity: 1;
    }
}

@keyframes rotateCircle {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(1080deg);
    }
}

@keyframes slideToLeft {
    0% {
        position: absolute;
        width: 70%;
        height: 16vh;
        bottom: -4vh;
    }
    100% {
        position: fixed;
        width: 10vh;
        height: 30vh;
        left: 0;
        bottom: 0;
        transition: left 0 linear;
        flex-direction: column;
    }
}


@media screen and (max-width: 800px) {
    .topContBackgroundCircle{
        height: 55vh;
        background-blend-mode: soft-light;
    }
    .topLeftCont{
        width: 40%;
    }
    .topName{
        font-size: 2rem;
    }
    .topRightCont{
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .topCont{
        flex-direction: column;
        justify-content: flex-start;
    }
    .topContBackgroundCircle {
        position: relative;
        background-blend-mode: unset;
        width: 90%;
        height: auto;
        background-size: auto 100%;
    }
    .topLeftCont{
        position: relative;
        width: 90%;
        height: auto;
        animation: slideInTopLeftCont500px 0.5s forwards ease-in;
    }
    .topText2 {
        position: relative;
        top: 0;
    }
    .topRightCont{
        position: relative;
        width: 90%;
        margin: 0;
        animation: slideInTopRightCont500px 0.5s forwards ease-in;
    }
    .topDownCont{
        width: 90%;
        height: 10vh;
        bottom: -5vh;
    }
    .topDownContImg{
        height: 6vh;
        width: auto;
    }
    .topText3 {
        font-size: 1rem;
    }
}