.wholeCont {
    /* width: 90%;
    min-height: 100vh;
    background-color: #c22c2c;
    background-color: transparent;
    box-shadow: 10px 10px 50px 5px #347773;
    margin: 10vh 0 15vh 0;
    top: 10vh;
    border-radius: 25px; */
}