.wholeCont{
    position: fixed;
    top: 0;    
    width: 100%;
    height: 10vh;
    background-color: #333333;
    /* background-color: #2b3346; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}
.wholeContDark{
    background-color: #2b3346;
}

.logoCont{
    height: 100%;
    width: max-content;
    margin-left: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    cursor: none;
}

.logoImg{
    height: 60%;
    width: auto;
}

.logoText{
    color: #ffffff;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
    user-select: none;
    white-space: nowrap;
}

.menuImg{
    position: fixed;
    top: 2.5vh;
    right: 2.5vh;
    width: 35px;
    height: 35px;
    gap: 1.5vh;
    padding: 1vh 0.5vh;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    /* cursor: pointer; */
}

.menuImgEndLine{
    width: 35px;
    height: 3px;
    background-color: #ffffff;
}

.menuImgMidLine{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.menuCont{
    position: absolute;
    width: max-content;
    height: 100%;
    right: 2vh;
    display: flex;
    justify-content: flex-end;
    gap: 6vh;
    align-items: center;
}

.menuOptions{
    width: max-content;
    height: auto;
    /* cursor: pointer; */
}
.menuOptionsDark{

}
.menuOptions:hover .menuOptionsText{
    color: #ffffff;
}

.menuOptionsText{
    width: max-content;
    height: auto;
    color: #cdcdcd;
    font-size: 0.8rem;
    font-weight: 500;
}
.menuOptionsTextDark{}

@keyframes menuOpening {
    0%{
        right: -60%;
    }
    100%{
        right: 0%;
    }
}
@keyframes topRotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}
@keyframes bottomRotating {
    0% {
        transform: 0;
    }

    100% {
        transform: rotate(-45deg);
    }
}

@media screen and (max-width : 500px) {
    .menuImg{
        display: flex;
    }
    .menuCont{
        width: 60%;
        height: 100vh;
        top: 0;
        right: 0;
        gap: 0;
        padding-top: 10vh;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.75);
        animation: menuOpening 0.5s forwards ease-out;
    }
    .menuOptions{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuOptions:hover{
        background-color: rgba(255, 255, 255, 0.75);
    }
    .menuOptionsText{
        font-size: 1rem;
    }
    
}