.wholeCont{
    width: 95%;
    min-height: 100vh;
    margin: 0 2.5%;
    padding: 5vh 0;
    border-radius: 12px;
    background-color: var(--background-primary-color);
    font-family: var(--primary-font-family-open-sans);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.wholeContDark{
    background-color: var(--darkmode-background-primary-color);
}

.title{
    width: max-content;
    height: auto;
    padding: 1.5vh 15vh;
    border-radius: 12px;
    /* background-color: #393644; */
    font-family: var(--primary-font-family-open-sans);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    white-space: nowrap;
}
.titleDark{
    background-color: var(--darkmode-background-primary-color);
}

.cont{
    width: 95%;
    min-height: 70vh;
    margin: 0 2.5%;
    padding: 5vh 0;
    border-radius: 12px;
    gap: 5%;
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contDark{
    background-color: var(--darkmode-background-primary-color);
}

.leftCont{
    width: 45%;
    min-height: 60vh;
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
}

.leftContText1 {
    width: max-content;
    font-size: 1.25rem;
    color: #ffffff;
    font-family: var(--primary-font-family-open-sans);
    margin: 2vh 0 4vh 0;
}

.leftContText2 {
    font-size: 1rem;
    color: #ffffff;
    font-family: var(--primary-font-family-open-sans);
    margin: 0;
}

.rightCont{
    width: 40%;
    min-height: 60vh;
    border-radius: 12px;
    background-color: #525252;
    padding:0 0 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.rightContDark{
    background-color: var(--darkmode-background-primary-color);;
}

.rightBottomCont{
    width: 95%;
    min-height: 45vh;
}

.eachSkillSet{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 1vh 0;
}

.eachSkill{
    position: relative;
    width: max-content;
    border-radius: 5px;
    padding: 1vh 2vh;
    margin: 1vh;
    background-color: var(--background-primary-color);
    /* cursor: pointer; */
    gap: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.eachSkillDark{
    background-color: var(--darkmode-background-primary-color);
}

.eachSkillName{
    width: max-content;
    height: auto;
    margin: 0;
    font-family: var(--primary-font-family-open-sans);
    font-size: 1rem;
    color: var(--highlight-font-color);
}

.eachSkillImg{
    position: relative;
    height: 6vh;
    width: auto;

}

@media screen and (max-width: 900px) {
    .cont {
        width: 100%;
        gap: 0.5%;
        padding: 0 0.5%;
    }
    .leftCont{
        width: 50%;
    }
    .leftContText2 {
        font-size: 0.8rem;
    }
    .rightCont{
        width: 49%;
    }
}

@media screen and (max-width: 800px) {
    .cont{
        flex-direction: column;
        align-items: center;
    }
    .title{
        font-size: 1.75rem;
    }
    .leftCont {
        width: 100%;
        height: auto;
        margin-bottom: 5vh;
    }
    .leftContText1{
        font-size: 1.5rem;
    }
    .leftContText2{
        font-size: 1rem;
    }

    .rightCont {
        width: 75%;
    }
}

@media screen and (max-width: 550px) {
    .wholeCont {
        width: 100%;
        margin: 0;
        padding: 0 2.5%;
    }
}